<!DOCTYPE html>
<html lang="en" ng-app="goodNews">
<head>
  <meta charset="utf-8">
  <!-- make title and underline with SVG WHOAAAA  -->
  <title>Good News</title>
  <base href="/">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<body>
<!-- main page -->
  <h1 class="text-center">When all we see is bad news.</h1>
  <!-- search for a topic. checkbox for local, us, or global. based on choice, map on the side will have pins on where in the world the story was from. google maps api? -->
  <!-- use d3 to visualize the number of views per news story? or sentiment level? visualize bias? -->
  <div ng-view></div>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/factories.js"></script>
  <script src="js/controllers.js"></script>

</body>
</html>